[defaults]
inventory = ./inventory/dev.ini
host_key_checking = False
timeout = 30
forks = 10
interpreter_python = auto_silent
roles_path = ./roles
retry_files_enabled = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s